@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
 /* @import '~perfect-scrollbar/css/perfect-scrollbar.css'; */
body {
    overflow-y: hidden;
} 
.detail-header {
    position: relative;
    bottom: 15vh;
}